# Base level
login.sh
HeartfulKey.pem
/heartful/settings/wsgi.py

# Python bytecode:
*.py[cod]
*.pyc

#Michael Specific
heartful/settings/urls.py
heartful/settings/wsgi.py
heartful/settings/settings.py
