/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navBarHeart {
	max-width: 30px;
	margin-left: 15px;
	margin-top: 15px
}

.centerAlignText {
    text-align: center;
}

.footer {
	width:100%;
	height:80px;
	position:fixed;
	bottom:0;
	left:0;
	background: black;
}

.footer .content {
	font: white;
	margin-left:20px;
}

#aboutUs {

}

.tileTable {
	max-width: 70%
}

.customModal {
	z-index: 9999;
	padding-top: 100px;
}

#barGraph {
	min-width: 400px;
	min-height: 300px;
}

#pageContent {
	padding-top: 45px;
	padding-bottom: 70px;
}

.bs-docs-social {
	margin-bottom:20px;
	text-align:center
}

.bs-docs-social-buttons {
	display:inline-block;
	padding-left:0;
	margin-bottom:0;
	list-style:none
}

.bs-docs-social-buttons li {
	display:inline-block;
	padding:5px 8px;
	line-height:1
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.masonry {
  max-width: 80%;
}

.masonryPadding {
	padding-left: 10px;
	padding-top: 10px;
}

.masonry .item {
  width:  100px;
  height: 150px;
  float: left;
  background: #eeeeee;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.item.w2 { width:  240px; }
.item.w3 { width:  360px; }
.item.w4 { width:  480px; }

.item.h2 { height: 200px; }
.item.h3 { height: 220px; }
.item.h4 { height: 240px; }

.item:hover {
  background: #5bc0de;
  border-color: white;
  cursor: pointer;
}