/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navBarHeart {
	max-width: 30px;
	margin-left: 15px;
	margin-top: 15px
}

.centerAlignText {
    text-align: center;
}

.footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background: black;
}

.footer .content {
	font: white;
	margin-left:20px;
}

#aboutUs {

}

.bs-docs-social {
	margin-bottom:20px;
	text-align:center
}

.bs-docs-social-buttons {
	display:inline-block;
	padding-left:0;
	margin-bottom:0;
	list-style:none
}

.bs-docs-social-buttons li {
	display:inline-block;
	padding:5px 8px;
	line-height:1
}